<ion-header align="center">
  <ion-toolbar color="success">
    <ionic-title text-center>Agenda</ionic-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let persona of agendaService.personas">
    <h5>{{persona.nombre}}</h5>
    <h5>{{persona.telefono}}</h5>
    <h5>{{persona.email}}</h5>
    <h5>{{persona.nota}}</h5>
  </ion-card>
</ion-content>
